<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tree.smbms.dao.provider.ProviderMapper">
	<select id="count" resultType="int">
		SELECT COUNT(1) AS COUNT FROM smbms_provider
	</select>
	<!-- 查询供应商列表 -->
	<select id="getProviderList" resultType="cn.three.smbms.pojo.provider">
		SELECT proName FROM smbms_provider
	</select>
</mapper>