<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.three.smbms.dao.user.UserMapper">
	<select id="count" resultType="int">
		SELECT COUNT(1) AS COUNT FROM smbms_user
	</select>
	<resultMap type="User" id="userList">
		<result property="id" column="id"></result>
		<result property="userCode" column="userCode"></result>
		<result property="userName" column="userName"></result>
		<result property="userRole" column="userRole"></result>
		<result property="userRoleName" column="roleName"></result>
	</resultMap>
	<!-- 一对一 -->
	<resultMap type="User" id="userRoleList">
		<id property="id" column="id"/>
		<result property="userCode" column="userCode"/>
		<result property="userName" column="userName"/>
		<result property="userRole" column="userRole"></result>
		<association property="role" javaType="Role"><!-- Role用了别名 -->
			<id property="id" column="r_id"/>
			<result property="roleCode" column="roleCode"/>
			<result property="roleName" column="roleName"/>
		</association>
	</resultMap>
	<!-- 查询用户列表 -->
	<select id="getUserList" resultType="User">
		select userName  from smbms_user;
	</select>
	<!-- 根据用户名查询用户列表 -->
	<select id="getUserListByName" resultType="User" parameterType="String">
		select userName from smbms_user where userName like CONCAT('%',#{name},'%')
	</select>
	<!-- 根据用户名查询userRole=1 -->
	<select id="getUserRole" resultType="User" parameterType="int">
		select * from smbms_user where userRole=#{id}
	</select>
	<!-- 多条件查询用户列表 -->
	<select id="getUserListByMap" resultType="User" parameterType="Map">
		SELECT * FROM smbms_user WHERE userName LIKE CONCAT('%',#{name},'%') AND userRole=#{role}
	</select>
	<!-- 实体类查询用户列表 -->
	<select id="getUserListByMap2" resultType="User" parameterType="map">
		SELECT * FROM smbms_user WHERE userName LIKE CONCAT('%',#{userName},'%') AND userRole=#{userRole}
	</select>
	<!-- 结果集查询用户列表 -->
	<select id="getUserList2" resultMap="userList" parameterType="User">
		SELECT u.*,r.roleName FROM smbms_user u,smbms_role r 
		WHERE u.userName LIKE CONCAT('%',#{userName},'%') AND u.userRole=#{userRole} AND u.userRole=r.id
	</select>
	<!-- 增加用户列表 -->
	<insert  id="add" parameterType="User" >
		insert into  smbms_user (userCode,userName,userPassword,gender,birthday,phone,address,userRole,createdBy,creationDate,modifyBy,modifyDate) 
		values (#{userCode},#{userName},#{userPassword},#{gender},#{birthday},#{phone},#{address},#{userRole},#{createdBy},#{creationDate},#{modifyBy},#{modifyDate})
	</insert>
	<!-- 更新用户列表 -->
	<update id ="modify" parameterType="User">
		update smbms_user set userCode = #{userCode},
	    userName = #{userName},
        userPassword = #{userPassword}  where id = #{id}
	</update>
	<!-- 使用注解传参 -->
	<update id ="updatePwd">
		update smbms_user set 
        userPassword = #{userPassword}  where id = #{id}
	</update>
	<!-- 删除用户 -->
	<delete id ="deleteUserById" parameterType="int">
		delete from smbms_user where id = #{id}
	</delete>
	<!-- 一对一关系映射 -->
	<select id="getUserListByRole" parameterType="int" resultMap="userRoleList">
		SELECT u.*,r.id AS r_id,r.roleName,r.roleCode 
		FROM smbms_user u,smbms_role r WHERE u.userRole=#{userRole} AND u.userRole=r.id
	</select>
</mapper>