<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.three.smbms.dao.user.UserMapper">
	<select id="count" resultType="int">
		SELECT COUNT(1) AS COUNT FROM smbms_user
	</select>
	<resultMap type="User" id="userList">
		<result property="id" column="id"></result>
		<result property="userCode" column="userCode"></result>
		<result property="userName" column="userName"></result>
		<result property="userRole" column="userRole"></result>
		<result property="userRoleName" column="roleName"></result>
	</resultMap>
	<!-- 一对一 -->
	<resultMap type="User" id="userRoleList">
		<id property="id" column="id"/>
		<result property="userCode" column="userCode"/>
		<result property="userName" column="userName"/>
		<result property="userRole" column="userRole"/>
		<result property="creationDate" column="creationDate"/>
		<association property="role" javaType="Role"><!-- Role用了别名 -->
			<id property="id" column="r_id"/>
			<result property="roleCode" column="roleCode"/>
			<result property="roleName" column="roleName"/>
		</association>
	</resultMap>
	<resultMap type="Address" id="addressList">
		<id property="id" column="a_id"/>
		<result property="postCode" column="postCode"></result>
		<result property="contact" column="contact"></result>
		<result property="addressDesc" column="addressDesc"></result>
		<result property="tel" column="tel"></result>
	</resultMap>
	<!-- 一对多的关系映射 -->
	<resultMap type="User" id="userAddressList">
		<id property="id" column="id"/>
		<result property="userCode" column="userCode"/>
		<result property="userName" column="userName"/>
		<collection property="addressList" ofType="Address" resultMap="addressList">
			<!-- <id property="id" column="a_id"/>
				<result property="postCode" column="postCode"></result>
				<result property="contact" column="contact"></result>
				<result property="addressDesc" column="addressDesc"></result>
				<result property="tel" column="tel"></result> -->
		</collection>
	</resultMap>
	<!-- foreach -->
	<resultMap type="User" id="userRole">
		<result property="id" column="id"></result>
		<result property="userCode" column="userCode"></result>
		<result property="userName" column="userName"></result>
		<result property="creationDate" column="creationDate"/>
	</resultMap>
	<!-- foreach -->
	<select id="getUserListByRole_array" resultMap="userRole">
		SELECT * FROM smbms_user where userRole in
		<foreach collection="array" item="roleIds" open="(" separator="," close=")">
			#{roleIds}
		</foreach>
	</select>
	<select id="getUserListByRole_list" resultMap="userRole">
		SELECT * FROM smbms_user where userRole in
		<foreach collection="list" item="roleIds" open="(" separator="," close=")">
			#{roleIds}
		</foreach>
	</select>
		<select id="getUserListByRole_map" resultMap="userRole">
		SELECT * FROM smbms_user where gender=#{gender} and userRole in
		<foreach collection="roleList" item="roleIds" open="(" separator="," close=")">
			#{roleIds}
		</foreach>
	</select>
	<!-- 一对多映射 -->
	<select id="getAddressListByUser" resultMap="userAddressList" parameterType="int">
		SELECT u.*,a.id a_id,a.postCode,a.contact,a.addressDesc,a.tel FROM smbms_user u LEFT JOIN smbms_address a ON u.id=a.userId WHERE u.id=#{userId};
	</select>
	<!-- 查询用户列表 -->
	<select id="getUserList" resultType="User">
		select userName  from smbms_user;
	</select>
	<!-- 根据用户名查询用户列表 -->
	<select id="getUserListByName" resultType="User" parameterType="String">
		select userName from smbms_user where userName like CONCAT('%',#{name},'%')
	</select>
	<!-- 根据用户名查询userRole=1 -->
	<select id="getUserRole" resultType="User" parameterType="int">
		select * from smbms_user where userRole=#{id}
	</select>
	<!-- 多条件查询用户列表 -->
	<select id="getUserListByMap" resultType="User" parameterType="Map">
		SELECT * FROM smbms_user WHERE userName LIKE CONCAT('%',#{name},'%') AND userRole=#{role}
	</select>
	<!-- 实体类查询用户列表 -->
	<select id="getUserListByMap2" resultType="User" parameterType="map">
		SELECT * FROM smbms_user WHERE userName LIKE CONCAT('%',#{userName},'%') AND userRole=#{userRole}
	</select>
	<!-- 结果集查询用户列表 -->
	<select id="getUserList2" resultMap="userList" parameterType="User">
		SELECT u.*,r.roleName FROM smbms_user u,smbms_role r 
		WHERE u.userName LIKE CONCAT('%',#{userName},'%') AND u.userRole=#{userRole} AND u.userRole=r.id
	</select>
	<!-- 增加用户列表 -->
	<insert  id="add" parameterType="User" >
		insert into  smbms_user (userCode,userName,userPassword,gender,birthday,phone,address,userRole,createdBy,creationDate,modifyBy,modifyDate) 
		values (#{userCode},#{userName},#{userPassword},#{gender},#{birthday},#{phone},#{address},#{userRole},#{createdBy},#{creationDate},#{modifyBy},#{modifyDate})
	</insert>
	<!-- 更新用户列表 -->
	<update id ="modify" parameterType="User">
		update smbms_user set userCode = #{userCode},
	    userName = #{userName},
        userPassword = #{userPassword}  where id = #{id}
	</update>
	<update id ="modify2" parameterType="User">
		update smbms_user
		<set>
			<if test="userCode!=null">userCode = #{userCode},</if>
			<if test="userName!=null">userName = #{userName},</if>
			<if test="userPassword!=null">userPassword = #{userPassword}</if>
		</set>
         where id = #{id}
	</update>
	<!-- 去除多余的关键字 -->
	<update id ="modify3" parameterType="User">
		update smbms_user
		<trim suffix="where id = #{id}" prefix="set" prefixOverrides="" suffixOverrides=",">
			<if test="userCode!=null">userCode = #{userCode},</if>
			<if test="userName!=null">userName = #{userName},</if>
			<if test="userPassword!=null">userPassword = #{userPassword}</if>
		</trim>
	</update>
	<!-- 使用注解传参 -->
	<update id ="updatePwd">
		update smbms_user set 
        userPassword = #{userPassword}  where id = #{id}
	</update>
	<!-- 删除用户 -->
	<delete id ="deleteUserById" parameterType="int">
		delete from smbms_user where id = #{id}
	</delete>
	<!-- 一对一关系映射 -->
	<select id="getUserListByRole" parameterType="int" resultMap="userRoleList">
		SELECT u.*,r.id AS r_id,r.roleName,r.roleCode 
		FROM smbms_user u,smbms_role r WHERE u.userRole=#{userRole} AND u.userRole=r.id
	</select>
	<!-- 多条件查询用户列表 -->
	<select id="getUserList3" resultType="User">
		SELECT * FROM smbms_user u,
		smbms_role r
		 WHERE u.userRole = r.id
		 <if test="userName!=null and userName !=''">
		 And u.userName LIKE CONCAT('%',#{userName},'%')	
		 </if>
		  <if test="userRole!=null">
		  		AND u.userRole=#{userRole}
		  </if>
	</select>
	 <select id="getUserList4" resultType="User">
		SELECT * FROM smbms_user u
		<where>
		<if test="userName!=null and userName !=''">
			 And u.userName LIKE CONCAT('%',#{userName},'%')	
		 </if>
		  <if test="userRole!=null and userRole!=''">
		  		AND u.userRole=#{userRole}
		  </if>
		</where>
	</select>
	 <select id="getUserList5" resultType="User">
		SELECT * FROM smbms_user u
		<trim prefix="where" prefixOverrides="AND | OR">
			<if test="userName!=null and userName !=''">
		 		And u.userName LIKE CONCAT('%',#{userName},'%')	
		 	</if>
		  	<if test="userRole!=null">
		  		And u.userRole=#{userRole}
		  	</if>
		</trim>
	</select>
	<!-- 多条件查询用户列表choose -->
	<select id="getUserList_choose" resultType="User">
		SELECT * FROM smbms_user u,smbms_role r
		 WHERE 1 = 1 
		<choose>
			<when test="userName != null and userName !=''">
				and u.userName LIKE CONCAT('%',#{userName},'%')
			</when>
			 <when test="userCode != null and userCode !=''">
			 	 and u.userCode LIKE CONCAT('%',#{userCode},'%')
			 </when>
		 	<when test="userRole != null">
			 	  AND u.userRole=#{userRole}
			 </when>
			<otherwise>
				 and YEAR(u.creationDate) = YEAR(#{creationDate})
			</otherwise>
		</choose>
	</select>
	<!-- 查询用户列表分页显示 -->
	<select id="getUserList_page" resultMap="userRoleList">
		SELECT u.*,
		r.id AS r_id,
		r.roleName,
		r.roleCode 
		FROM
		smbms_user u,smbms_role r 
		WHERE u.userRole=r.id
		order by u.creationDate DESC limit #{from},#{pageSize} <!-- form起始  pageSize 页面容量-->
	</select>
</mapper>